<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.universaal.tools.dashboard.perspective.DashboardPerspectiveFactory"
            icon="icons/universaal.ico"
            id="org.universaal.tools.dashboard.perspective.DashboardPerspectiveFactory"
            name="universAAL Dashboard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.universaal.tools.dashboard.views.MonitoringView"
            id="org.universaal.tools.dashboard.views.MonitoringView"
            name="MonitoringView"
            restorable="true">
      </view>
      <view
            class="org.universaal.tools.dashboard.views.OverviewView"
            id="org.universaal.tools.dashboard.views.OverviewView"
            name="OverviewView"
            restorable="true">
      </view>
      <view
            class="org.universaal.tools.dashboard.views.StatemachineView"
            id="org.universaal.tools.dashboard.views.StatemachineView"
            name="StatemachineView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="org.universaal.tools.newwizard.plugin.wizards.NewItemWizard"
         name="NewProjectWizard"
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.universaal.tools.newwizard.plugin"
            id="org.universaal.tools.newwizard.plugin"
            name="NewProjectWizard">
      </wizard>
   </extension>

</plugin>
