<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Configuration Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.universaal.tools.configurationEditor.editors.ConfigurationEditorContributor"
            class="org.universaal.tools.configurationEditor.editors.ConfigurationEditor"
            id="org.universaal.tools.configurationEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.universaal.tools.handlers.NewConfigurationHandler"
            id="org.universaal.tools.configurationEditor.newConfiguration"
            name="Create new configuration">
      </command>
      <command
            defaultHandler="org.universaal.tools.handlers.OpenConfigurationHandler"
            id="org.universaal.tools.configurationEditor.openConfiguration"
            name="Open configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.universaal.tools.configurationEditor.utils.NewConfigurationWizard"
            id="org.universaal.tools.configurationEditor.newConfigurationWizard"
            name="Configuration Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.universaal.tools.AALStudio.menu?after=new">
         <command
               commandId="org.universaal.tools.configurationEditor.newConfiguration"
               icon="icons/new-document-16.png"
               id="org.universaal.tools.configurationEditor.menu.newConfiguration"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
