<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category
			name="Code Assistant Category"
			id="org.universaal.tools.codeassistant">
		</category>
		<view
			name="Code Assistant View"
			icon="CodeAssistantFiles/icons/sample.gif"
			category="org.universaal.tools.codeassistant"
			class="org.universaal.tools.codeassistantapplication.CodeAssistantView"
			id="org.universAAL.codeassistant.CodeAssistantView">
		</view>
	</extension>
 	<extension point="org.eclipse.ui.editors">
    	<editor
           class="org.universaal.tools.codeassistantapplication.editor.CodeAssistantEditor"
           default="false"
           icon="CodeAssistantFiles/icons/sample.gif"
           id="org.universAAL.codeassistant.editor.codeassistanteditor"
           name="Code Assistant Editor">
    	</editor>
 	</extension>
  <extension point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.universaal.tools.codeassistantapplication.handler.CallEditor"
           id="org.universAAL.codeassistant.editor.openEditor"
           name="Open Editor">
     </command>
  </extension>
  <extension point="org.eclipse.ui.elementFactories">
     <factory
           class="org.universaal.tools.codeassistantapplication.editor.CodeAssistantEditorInputFactory"
           id="org.universAAL.codeassistant.editor.codeassistanteditorinputfactory">
     </factory>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
     <perspective
           class="org.universaal.tools.codeassistantapplication.Perspective"
           id="org.universAAL.codeassistant.perspective"
           name="Code Assistant Tool">
     </perspective>
  </extension>
</plugin>
