* text=auto !eol
org.universaal.tools.depotclient.feature/.project -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/feature.xml -text svneol=unset#text/plain
