* text=auto !eol
org.maven.ide.eclipse.feature/.project -text svneol=unset#text/plain
org.maven.ide.eclipse.feature/build.properties -text svneol=unset#text/plain
org.maven.ide.eclipse.feature/feature.xml -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.core.feature/.project -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.core.feature/build.properties -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.core.feature/feature.xml -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.ui.feature/.project -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.ui.feature/build.properties -text svneol=unset#text/plain
org.ops4j.pax.runner.eclipse.ui.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tool.wizardfeature/.project -text
org.universaal.tool.wizardfeature/build.properties -text
org.universaal.tool.wizardfeature/feature.xml -text
org.universaal.tools.buildFeature/.project -text
org.universaal.tools.buildFeature/build.properties -text
org.universaal.tools.buildFeature/feature.xml -text
org.universaal.tools.buildPlugin/.classpath -text
org.universaal.tools.buildPlugin/.project -text
org.universaal.tools.buildPlugin/.settings/org.eclipse.jdt.core.prefs -text
org.universaal.tools.buildPlugin/META-INF/MANIFEST.MF -text
org.universaal.tools.buildPlugin/build.properties -text
org.universaal.tools.buildPlugin/icons/Thumbs.db -text
org.universaal.tools.buildPlugin/icons/compile.png -text
org.universaal.tools.buildPlugin/icons/publish.png -text
org.universaal.tools.buildPlugin/icons/run.png -text
org.universaal.tools.buildPlugin/icons/sample.gif -text
org.universaal.tools.buildPlugin/icons/upload.png -text
org.universaal.tools.buildPlugin/plugin.xml -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/Activator.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/BuildAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/CreateFelixPropertiesFile.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/DebugAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/PublishAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/RunAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/RunFelix.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/UploadAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/UploadArtifact.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/BuildApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/DebugApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/PublishApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/RunApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/UploadApplicationHandler.java -text
org.universaal.tools.dashboard/.classpath -text svneol=unset#text/plain
org.universaal.tools.dashboard/.project -text svneol=unset#text/plain
org.universaal.tools.dashboard/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
org.universaal.tools.dashboard/META-INF/MANIFEST.MF -text svneol=unset#text/plain
org.universaal.tools.dashboard/build.properties -text svneol=unset#text/plain
org.universaal.tools.dashboard/contexts.xml -text svneol=unset#text/plain
org.universaal.tools.dashboard/icons/arrow_curve_left_down_s.png -text
org.universaal.tools.dashboard/icons/arrow_curve_left_s.png -text
org.universaal.tools.dashboard/icons/arrow_down_s.png -text
org.universaal.tools.dashboard/icons/arrows.png -text
org.universaal.tools.dashboard/icons/pil2.png -text
org.universaal.tools.dashboard/icons/pilned.png -text
org.universaal.tools.dashboard/icons/pilopp.png -text
org.universaal.tools.dashboard/icons/sample.gif -text
org.universaal.tools.dashboard/icons/universaals.jpg -text
org.universaal.tools.dashboard/icons/up_arrow.png -text
org.universaal.tools.dashboard/plugin.xml -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/eclipse/wb/swt/ResourceManager.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/eclipse/wb/swt/SWTResourceManager.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/Activator.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/BuildProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/CreateNewItemListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/CreateNewProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/DebugProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/ImportExampleListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/PublishProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/RunProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/TemporaryListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/TemporaryMouseListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/TransformListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/buttonlisteners/UploadProjectListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/listeners/ProjectNameListener.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/src/org/universaal/tools/dashboard/views/DashboardView.java -text svneol=unset#text/plain
org.universaal.tools.dashboard/swing2swt.jar -text
org.universaal.tools.depotclient.feature/.project -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.profilefeature/.project -text svneol=unset#text/plain
org.universaal.tools.profilefeature/build.properties -text svneol=unset#text/plain
org.universaal.tools.profilefeature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.updatesite/.project -text svneol=unset#text/plain
org.universaal.tools.updatesite/artifacts.jar -text
org.universaal.tools.updatesite/content.jar -text
org.universaal.tools.updatesite/features/org.maven.ide.eclipse.feature_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/features/org.ops4j.pax.runner.eclipse.core.feature_1.3.0.jar -text
org.universaal.tools.updatesite/features/org.ops4j.pax.runner.eclipse.ui.feature_1.3.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.0.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.1.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.1.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.1.2.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.1.3.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.2.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.3.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.3.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.buildFeature_0.5.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.dashboard.feature_0.2.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.depotclient.feature_0.2.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.0.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.0.2.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.1.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.2.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.2.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.3.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.3.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.newwizard.feature_0.5.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.profilefeature_0.0.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.profilefeature_0.0.2.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.profilefeature_0.1.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.profilefeature_0.1.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.profilefeature_0.2.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.transformationfeature_0.0.1.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.transformationfeature_0.1.0.jar -text
org.universaal.tools.updatesite/features/org.universaal.tools.transformationfeature_0.2.0.jar -text
org.universaal.tools.updatesite/features/sonar_feature_1.0.0.201104041658.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.archetype_common_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.dependency_tree_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.editor.xml_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.editor_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.jdt_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.launching_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.maven_embedder_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.maven_model_edit_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.nexus_indexer_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.pr_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse.refactoring_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.maven.ide.eclipse_0.12.1.20110112-1712.jar -text
org.universaal.tools.updatesite/plugins/org.ops4j.pax.runner.eclipse.core_1.3.0.jar -text
org.universaal.tools.updatesite/plugins/org.ops4j.pax.runner.eclipse.ui_1.3.0.jar -text
org.universaal.tools.updatesite/plugins/org.sonar.ide.eclipse.core_1.0.0.201011251615.jar -text
org.universaal.tools.updatesite/plugins/org.sonar.ide.eclipse.jdt_1.0.0.201011251615.jar -text
org.universaal.tools.updatesite/plugins/org.sonar.ide.eclipse.sonar_embedder_1.0.0.201011251615.jar -text
org.universaal.tools.updatesite/plugins/org.sonar.ide.eclipse.ui_1.0.0.201011251615.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.0.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.1.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.1.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.1.2.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.1.3.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.2.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.3.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.3.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.buildPlugin_0.5.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.dashboard_0.2.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.0.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.0.2.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.1.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.2.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.2.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.3.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.3.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.newwizard.plugin_0.5.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.profileplugin_0.0.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.profileplugin_0.0.2.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.profileplugin_0.1.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.profileplugin_0.1.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.profileplugin_0.2.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.subversivePlugin_0.2.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.transformationcommand_0.0.1.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.transformationcommand_0.1.0.jar -text
org.universaal.tools.updatesite/plugins/org.universaal.tools.transformationcommand_0.2.0.jar -text
org.universaal.tools.updatesite/site.xml -text svneol=unset#text/plain
org.universaal.tools.wizardplugin/.classpath -text
org.universaal.tools.wizardplugin/.project -text
org.universaal.tools.wizardplugin/.settings/org.eclipse.jdt.core.prefs -text
org.universaal.tools.wizardplugin/META-INF/MANIFEST.MF -text
org.universaal.tools.wizardplugin/build.properties -text
org.universaal.tools.wizardplugin/files/Activator.java -text
org.universaal.tools.wizardplugin/files/CPublisher.java -text
org.universaal.tools.wizardplugin/files/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/IPublisher.java -text
org.universaal.tools.wizardplugin/files/ISubscriber.java -text
org.universaal.tools.wizardplugin/files/OPublisher.java -text
org.universaal.tools.wizardplugin/files/OSubscriber.java -text
org.universaal.tools.wizardplugin/files/SCallee.java -text
org.universaal.tools.wizardplugin/files/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/SCaller.java -text
org.universaal.tools.wizardplugin/helpdoc.xml -text
org.universaal.tools.wizardplugin/icons/PERSONA_logo150.jpg -text
org.universaal.tools.wizardplugin/icons/ic-uAAL-hdpi.png -text
org.universaal.tools.wizardplugin/icons/pers.gif -text
org.universaal.tools.wizardplugin/icons/pers3mini.gif -text
org.universaal.tools.wizardplugin/icons/uAALmicro.png -text
org.universaal.tools.wizardplugin/icons/uaal64x32.PNG -text
org.universaal.tools.wizardplugin/plugin.xml -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/Activator.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/commands/NewItemCommandHandler.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/commands/NewProjectCommandHandler.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/Messages.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewItemWizard.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewItemWizardPage.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizard.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizardPage1.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizardPage2.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/messages.properties -text
sonar_feature/.project -text svneol=unset#text/plain
sonar_feature/build.properties -text svneol=unset#text/plain
sonar_feature/feature.xml -text svneol=unset#text/plain
