ucc.configuration.configdefinitionregistry/.classpath
ucc.configuration.configdefinitionregistry/.project
ucc.configuration.configdefinitionregistry/.settings
ucc.configuration.configdefinitionregistry/target
ucc.deploymanagerservice/.classpath
ucc.deploymanagerservice/.project
ucc.deploymanagerservice/.settings
ucc.deploymanagerservice/target
ucc.karaf.feature/.classpath
ucc.karaf.feature/.project
ucc.karaf.feature/.settings
ucc.karaf.feature/target
