org.universAAL.tools.logmonitor/.classpath
org.universAAL.tools.logmonitor/.project
org.universAAL.tools.logmonitor/.settings
org.universAAL.tools.logmonitor/target
org.universaal.tools.wizardplugin/bin
pax-runner-eclipse-ui-feature/target
