* text=auto !eol
org.eclipse.mofscript/.project -text svneol=unset#text/plain
org.eclipse.mofscript/build.properties -text svneol=unset#text/plain
org.eclipse.mofscript/feature.xml -text svneol=unset#text/plain
org.universAAL.tools.logmonitor/pom.xml -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/Activator.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/Edge.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/GraphPanel.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/LogMonitor.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/Node.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/RDFVis.java -text
org.universAAL.tools.logmonitor/src/main/java/org/universAAL/tools/logmonitor/ResourceInterpreter.java -text
org.universaal.tools.aalstudio.feature/.project -text svneol=unset#text/plain
org.universaal.tools.aalstudio.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.aalstudio.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.buildFeature/.project -text
org.universaal.tools.buildFeature/build.properties -text
org.universaal.tools.buildFeature/feature.xml -text
org.universaal.tools.buildPlugin/.classpath -text
org.universaal.tools.buildPlugin/.project -text
org.universaal.tools.buildPlugin/.settings/org.eclipse.jdt.core.prefs -text
org.universaal.tools.buildPlugin/META-INF/MANIFEST.MF -text
org.universaal.tools.buildPlugin/build.properties -text
org.universaal.tools.buildPlugin/files/sodapop.key -text svneol=unset#application/octet-stream
org.universaal.tools.buildPlugin/icons/Thumbs.db -text
org.universaal.tools.buildPlugin/icons/compile.png -text
org.universaal.tools.buildPlugin/icons/publish.png -text
org.universaal.tools.buildPlugin/icons/run.png -text
org.universaal.tools.buildPlugin/icons/sample.gif -text
org.universaal.tools.buildPlugin/icons/upload.png -text
org.universaal.tools.buildPlugin/plugin.xml -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/Activator.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/StartupClass.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/BuildAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/CreateLaunchConfigurationFile.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/DebugAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/PublishAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/RunAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/UploadAction.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/actions/UploadArtifact.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/BuildApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/DebugApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/PublishApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/RunApplicationHandler.java -text
org.universaal.tools.buildPlugin/src/org/universaal/tools/buildserviceapplication/handlers/UploadApplicationHandler.java -text
org.universaal.tools.configurationExtractor.feature/.project -text svneol=unset#text/plain
org.universaal.tools.configurationExtractor.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.configurationExtractor.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.classpath -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.classpath.html -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.project -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.project.html -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/.settings/org.sonar.ide.eclipse.core.prefs -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/META-INF/MANIFEST.MF -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/build.properties -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/icons/sample.gif -text
org.universaal.tools.conformanceTools/lib/checkstyle-5.5-all.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/.ignorethis -text
org.universaal.tools.conformanceTools/lib/findbugs/AppleJavaExtensions.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/LICENSE_AppleJavaExtensions.txt -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/lib/findbugs/ant.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-analysis-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-commons-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-tree-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-util-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/asm-xml-3.3.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/bcel.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/bug-logo.icns -text
org.universaal.tools.conformanceTools/lib/findbugs/buggy.icns -text
org.universaal.tools.conformanceTools/lib/findbugs/commons-lang-2.4.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/dom4j-1.6.1.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/findbugs.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/jFormatString.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/jaxen-1.1.1.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/jcip-annotations.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/jdepend-2.9.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/jsr305.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/junit.jar -text
org.universaal.tools.conformanceTools/lib/findbugs/yjp-controller-api-redist.jar -text
org.universaal.tools.conformanceTools/plugin.xml -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/Activator.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/handlers/ConformanceToolsHandler.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/run/ToolsRun.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/Builder.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/EssentialFiles.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/ExitCodes.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/OptionsParser.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/RunPlugin.java -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/checkstyle_checks.xml -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/findbugs.properties -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/options.properties -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/utils/sun_checks.xml -text svneol=unset#text/plain
org.universaal.tools.conformanceTools/src/org/universaal/tools/conformanceTools/windows/MainFrame.java -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/.project -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.depotclient.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/.classpath -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/.project -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/LICENSE.txt -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/META-INF/MANIFEST.MF -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/NOTICE.txt -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/build.properties -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/icons/sample.gif -text
org.universaal.tools.importthirdpartyproject/plugin.xml -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/eclipse/wb/swt/SWTResourceManager.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/Activator.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/handlers/GenerateAalApp.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/handlers/ImportHandler.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/wizards/ImportExternalWizard.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/wizards/ImportExternalWizardPage.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/xmlparser/ProjectObject.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/xmlparser/ProjectSearcher.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importexternalproject/xmlparser/XmlParser.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importthirdparty/preferences/PreferenceConstants.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importthirdparty/preferences/PreferenceInitializer.java -text svneol=unset#text/plain
org.universaal.tools.importthirdpartyproject/src/org/universaal/tools/importthirdparty/preferences/PreferencePage.java -text svneol=unset#text/plain
org.universaal.tools.perspective.feature/.project -text svneol=unset#text/plain
org.universaal.tools.perspective.feature/build.properties -text svneol=unset#text/plain
org.universaal.tools.perspective.feature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.profilefeature/.project -text svneol=unset#text/plain
org.universaal.tools.profilefeature/build.properties -text svneol=unset#text/plain
org.universaal.tools.profilefeature/feature.xml -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/.classpath -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/.project -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/LICENSE.txt -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/META-INF/MANIFEST.MF -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/NOTICE.txt -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/build.properties -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/icons/sample.gif -text
org.universaal.tools.uploadopensourceplugin/mail.jar -text
org.universaal.tools.uploadopensourceplugin/plugin.xml -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/Activator.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/email/SendEmail.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/handlers/GenerateAalApp.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/handlers/SendEmailHandler.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/handlers/UploadHandler.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/wizards/UploadOpenSourceWizard.java -text svneol=unset#text/plain
org.universaal.tools.uploadopensourceplugin/src/org/universaal/tools/uploadopensourceplugin/wizards/UploadOpenSourceWizardPage1.java -text svneol=unset#text/plain
org.universaal.tools.wizardplugin/.classpath -text
org.universaal.tools.wizardplugin/.project -text
org.universaal.tools.wizardplugin/.settings/org.eclipse.jdt.core.prefs -text
org.universaal.tools.wizardplugin/META-INF/MANIFEST.MF -text
org.universaal.tools.wizardplugin/build.properties -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/IPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/ISubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/OPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/OSubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/SCallee.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/SCaller.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/actuator/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/actuator/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/actuator/SCallee.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/actuator/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/ISubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/OPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/SCallee.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/full/SCaller.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/gauge/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/gauge/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/SCallee.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/nogui/SCaller.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/reasoner/Activator.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/reasoner/CPublisher.java -text
org.universaal.tools.wizardplugin/files/0.3.0-SNAPSHOT/templates/reasoner/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/IPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/ISubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/OPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/OSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.0.0/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.0.0/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/actuator/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/actuator/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/actuator/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/actuator/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/ISubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/OPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/full/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/gauge/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/gauge/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/nogui/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/reasoner/Activator.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/reasoner/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.0.0/templates/reasoner/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.1.0/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.1.0/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.1.0/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.1.0/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.1.0/UIfCaller.java -text
org.universaal.tools.wizardplugin/files/1.1.0/UIfHandler.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/actuator/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/actuator/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/actuator/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/actuator/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/full/UIfCaller.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/gauge/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/gauge/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/CSubscriber.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/SCallee.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/SCalleeProvidedService.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/nogui/SCaller.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/reasoner/Activator.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/reasoner/CPublisher.java -text
org.universaal.tools.wizardplugin/files/1.1.0/templates/reasoner/CSubscriber.java -text
org.universaal.tools.wizardplugin/helpdoc.xml -text
org.universaal.tools.wizardplugin/icons/ic-uAAL-hdpi.png -text
org.universaal.tools.wizardplugin/icons/newuaal_clss.gif -text
org.universaal.tools.wizardplugin/icons/newuaal_file.gif -text
org.universaal.tools.wizardplugin/icons/newuaal_proj.gif -text
org.universaal.tools.wizardplugin/icons/newuaal_wiz.gif -text
org.universaal.tools.wizardplugin/icons/uaal.gif -text
org.universaal.tools.wizardplugin/plugin.xml -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/Activator.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/commands/NewItemCommandHandler.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/commands/NewProjectCommandHandler.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/versions/IMWVersion.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/versions/MWVersion030.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/versions/MWVersion100.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/versions/MWVersion110.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/Messages.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewItemWizard.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewItemWizardPage.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizard.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizardPage1.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/NewProjectWizardPage2.java -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/messages.properties -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/messages_en.properties -text
org.universaal.tools.wizardplugin/src/org/universaal/tools/newwizard/plugin/wizards/messages_es.properties -text
org.universaal.tools.xmlEditor/.classpath -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/.project -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/LICENSE.txt -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/META-INF/MANIFEST.MF -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/NOTICE.txt -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/build.properties -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/icons/compile.png -text
org.universaal.tools.xmlEditor/icons/sample.gif -text
org.universaal.tools.xmlEditor/plugin.xml -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/src/org/universaal/tools/xmleditor/Activator.java -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/src/org/universaal/tools/xmleditor/editors/FieldsPage.java -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/src/org/universaal/tools/xmleditor/editors/SourcePage.java -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/src/org/universaal/tools/xmleditor/editors/XmlEditor.java -text svneol=unset#text/plain
org.universaal.tools.xmlEditor/src/org/universaal/tools/xmleditor/model/ProjectModel.java -text svneol=unset#text/plain
