org.universAAL.tools.logmonitor/.classpath
org.universAAL.tools.logmonitor/.project
org.universAAL.tools.logmonitor/.settings
org.universAAL.tools.logmonitor/target
org.universaal.tools.conformanceTools/target
org.universaal.tools.packaging.tool/bin
org.universaal.tools.wizardplugin/bin
pax-runner-eclipse-core-feature/target
pax-runner-eclipse-core/target
pax-runner-eclipse-ui-feature/target
