<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.universaal.tools.subversivePlugin.commands.category"
            name="AAL Studio">
      </category>
      <command
            categoryId="org.universaal.tools.subversivePlugin.commands.category"
            id="org.universaal.tools.subversivePlugin.commands.exampleProject"
            name="Import Example Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.universaal.tools.subversiveplugin.handlers.ImportExampleHandler"
            commandId="org.universaal.tools.subversivePlugin.commands.exampleProject">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.universaal.tools.AALStudio.menu"
               label="AALStudio">
            <command
                  commandId="org.universaal.tools.subversivePlugin.commands.exampleProject"
                  id="org.universaal.tools.subversivePlugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
