<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="Configuration_Extractor.actionSet">
         <menu
               label="Configuration &amp;"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Extract Configuration"
               icon="icons/icon_config.gif"
               class="org.universal.tools.configurationExtractor.SampleAction"
               tooltip="Extract Configuration"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.universal.tools.configurationExtractor.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
