<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.universaal.tools.perspective.AALStudioPerspective"
            icon="icons/logo_16x16.png"
            id="org.universaal.tools.perspective.AALStudioPerspective"
            name="AAL Studio">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.universaal.tools.AALStudio.menu?before=view">
         <command
               commandId="org.eclipse.ui.perspectives.showPerspective"
               icon="icons/logo_16x16.png"
               label="Open AAL Studio Perspective"
               style="push">
            <parameter
                  name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                  value="org.universaal.tools.perspective.AALStudioPerspective">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
