<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.universaal.tools.perspective.AALStudioPerspective"
            icon="icons/logo_16x16.png"
            id="org.universaal.tools.perspective.AALStudioPerspective"
            name="AAL Studio">
      </perspective>
   </extension>
</plugin>
