<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="universAAL"
            id="org.istmusic.tools.transformationcommand.commands.category">
      </category>
      <command
            name="List UML classes"
            categoryId="org.istmusic.tools.transformationcommand.commands.category"
            id="org.istmusic.tools.transformationcommand.commands.generateAdaptationModelCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.istmusic.tools.transformationcommand.commands.generateAdaptationModelCommand"
            class="org.istmusic.tools.transformationcommand.handlers.TransformToAdaptationModelHandler">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension "
                        value="uml">
                  </test>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="universAAL"
               mnemonic="M"
               id="org.istmusic.tools.transformationcommand.menus.MUSICMenu">
            <command
                  commandId="org.istmusic.tools.transformationcommand.commands.generateAdaptationModelCommand"
                  mnemonic="A"
                  id="org.istmusic.tools.transformationcommand.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="universAAL">
            <command
                  commandId="org.istmusic.tools.transformationcommand.commands.generateAdaptationModelCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.istmusic.tools.transformationcommand.umlfileselected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="uml">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>

</plugin>
