<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="AAL Studio"
            id="org.universaal.tools.conformanceTools.plugin.command">
      </category>
      <command
            name="Verify project conformance"
            categoryId="org.universaal.tools.conformanceTools.plugin.command"
            id="org.universaal.tools.conformanceTools.commands.ConformanceToolsRun">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.universaal.tools.conformanceTools.commands.ConformanceToolsRun"
            class="org.universaal.tools.conformanceTools.handlers.ConformanceToolsHandler">
            <enabledWhen>
                <with
                      variable="selection">
                   <iterate
                         ifEmpty="false"
                         operator="or">
                         <or>
                          <instanceof value="org.eclipse.core.resources.IProject" />
	                      <instanceof value="org.eclipse.jdt.internal.core.JavaProject" />
                         </or>
                   </iterate>
                   <count value="1" />
                </with>
             </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.universaal.tools.AALStudio.menu?after=test">
            <command
                  commandId="org.universaal.tools.conformanceTools.commands.ConformanceToolsRun"
                  mnemonic="T"
                  id="org.universaal.tools.conformanceTools.menus.conformancetest" icon="icons/test.png">
            </command>
      </menuContribution>
   </extension>

</plugin>
