<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category
			name="Code Assistant Category"
			id="org.universAAL.codeassistant">
		</category>
		<view
			name="Code Assistant View"
			icon="CodeAssistantFiles/icons/sample.gif"
			category="org.universAAL.codeassistant"
			class="org.universAAL.codeassistant.CodeAssistantView"
			id="org.universAAL.codeassistant.CodeAssistantView">
		</view>
	</extension>
 	<extension point="org.eclipse.ui.editors">
    	<editor
           class="org.universAAL.codeassistant.editor.CodeAssistantEditor"
           default="false"
           icon="CodeAssistantFiles/icons/sample.gif"
           id="org.universAAL.codeassistant.editor.codeassistanteditor"
           name="Code Assistant Editor">
    	</editor>
 	</extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.universAAL.codeassistant.handler.CallEditor"
           id="org.universAAL.codeassistant.editor.openEditor"
           name="Open Editor">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.elementFactories">
     <factory
           class="org.universAAL.codeassistant.editor.CodeAssistantEditorInputFactory"
           id="org.universAAL.codeassistant.editor.codeassistanteditorinputfactory">
     </factory>
  </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.universAAL.codeassistant.Perspective"
            id="org.universAAL.codeassistant.perspective">
      </perspective>
   </extension>
</plugin>
