<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="universAAL"
            id="org.universaal.tools.transformation.category">
      </category>
      <command
            name="List UML classes"
            categoryId="org.universaal.tools.transformation.category"
            id="org.universaal.tools.transformationcommand.commands.listClasses">
      </command>
      <command
            categoryId="org.universaal.tools.transformation.category"
            id="org.universaal.tools.transformationcommand.commands.ontUML2Java"
            name="Transform UML ontology to Java">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.universaal.tools.transformationcommand.commands.listClasses"
            class="org.universaal.tools.transformationcommand.handlers.TransformExampleHandler">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension "
                        value="uml">
                  </test>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="org.universaal.tools.transformationcommand.commands.ontUML2Java"
            class="org.universaal.tools.transformationcommand.handlers.TransformOntUML2Java">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension "
                        value="uml">
                  </test>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.universaal.tools.AALStudio.menu?after=transform">
         <command
               commandId="org.universaal.tools.transformationcommand.commands.ontUML2Java"
               id="org.universaal.tools.transformationcommand.menu.ontUML2Java"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="AAL Studio">
            <command
                  commandId="org.universaal.tools.transformationcommand.commands.ontUML2Java"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.istmusic.tools.transformationcommand.umlfileselected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="uml">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.universaal.tools.transformationcommand.transformations"
            class="org.universaal.tools.transformationcommand.preferences.Uml2JavaPreferencePage"
            id="org.universaal.tools.transformationcommand.uml2java"
            name="Transform UML2Java">
      </page>
      <page
            category="org.universaal.tools.AALStudio"
            class="org.universaal.tools.transformationcommand.preferences.TransformationsPreferencePage"
            id="org.universaal.tools.transformationcommand.transformations"
            name="Transformations">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.universaal.tools.transformationcommand.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
