<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="PERSONA"
            id="org.universaal.tools.newwizard.plugin">
      </category>
      <wizard
            name="PERSONA Template Project"
            icon="icons/pers3mini.gif"
            category="org.universaal.tools.newwizard.plugin"
            class="org.universaal.tools.newwizard.plugin.wizards.NewProjectWizard"
            id="org.universaal.tools.newwizard.plugin.wizards.NewProjectWizard"
            project="true">
      </wizard>
   </extension>

</plugin>
