<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.universaal.tools.uploadopensourceplugin.commands.aalcategory"
            name="universAAL">
      </category>
      <command
            categoryId="org.universaal.tools.uploadopensourceplugin.commands.aalcategory"
            id="org.universaal.tools.uploadopensourceplugin.commands.uploadopensource"
            name="Upload Open Source">
      </command>
      <command
            id="org.universaal.tools.uploadopensourceplugin.openemail"
            name="Open mail client">
      </command>
      <command
            id="org.universaal.tools.uploadopensourceplugin.generateaalapp"
            name="Generate aalapp.xml">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.universaal.tools.uploadopensourceplugin.handlers.UploadHandler"
            commandId="org.universaal.tools.uploadopensourceplugin.commands.uploadopensource">
      </handler>
      <handler
            class="org.universaal.tools.uploadopensourceplugin.handlers.SendEmailHandler"
            commandId="org.universaal.tools.uploadopensourceplugin.openemail">
      </handler>
      <handler
            class="org.universaal.tools.uploadopensourceplugin.handlers.GenerateAalApp"
            commandId="org.universaal.tools.uploadopensourceplugin.generateaalapp">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.universaal.tools.AALStudio.menu?before=new">
         <command
               commandId="org.universaal.tools.uploadopensourceplugin.commands.uploadopensource"
               id="org.universaal.tools.uploadopensourceplugin.menus.uploadsourcecommand"
               style="push">
         </command>
         <command
               commandId="org.universaal.tools.uploadopensourceplugin.generateaalapp"
               id="org.universaal.tools.uploadopensourceplugin.menus.generateaalapp"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
