<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="uploadopensourceplugin.commands.aalcategory"
            name="universAAL">
      </category>
      <command
            categoryId="uploadopensourceplugin.commands.aalcategory"
            id="uploadopensourceplugin.commands.uploadopensource"
            name="Upload Open Source">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uploadopensourceplugin.handlers.UploadHandler"
            commandId="uploadopensourceplugin.commands.uploadopensource">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.universaal.tools.AALStudio.menu"
               label="AAL Studio"
               mnemonic="M">
            <command
                  commandId="uploadopensourceplugin.commands.uploadopensource"
                  id="uploadopensourceplugin.menus.uploadsourcecommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
