<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.universaal.tools.buildServiceApplication.actionSet">             
         <action
               label="&amp;Debug universAAL application"
               icon="icons/debug.png"
               class="org.universaal.tools.buildserviceapplication.actions.DebugAction"
               tooltip="Debug universAAL application"
               menubarPath="org.universaal.tools.AALStudio.menu/build"
               toolbarPath="uAALGroup"
               id="org.universaal.tools.buildserviceapplication.actions.DebugAction" >			
         </action>
          <action
               label="&amp;Run universAAL application"
               icon="icons/run.png"
               class="org.universaal.tools.buildserviceapplication.actions.RunAction"
               tooltip="Run universAAL application"
               menubarPath="org.universaal.tools.AALStudio.menu/build"
               toolbarPath="uAALGroup"
               id="org.universaal.tools.buildserviceapplication.actions.RunAction" >			
         </action>
           <action
               label="&amp;Build universAAL application"
               icon="icons/compile.png"
               class="org.universaal.tools.buildserviceapplication.actions.BuildAction"
               tooltip="Build universAAL application"
               menubarPath="org.universaal.tools.AALStudio.menu/build"
               toolbarPath="uAALGroup"
               id="org.universaal.tools.buildserviceapplication.actions.BuildAction">				
         </action>      
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="universAAL"
            id="org.universaal.tools.buildserviceapplication.commands">
      </category>
      <command
            name="Build application"
            categoryId="org.universaal.tools.buildserviceapplication.commands"
            id="org.universaal.tools.buildserviceapplication.actions.BuildAction">
      </command>
      <command
            name="Run application"
            categoryId="org.universaal.tools.buildserviceapplication.commands"
            id="org.universaal.tools.buildserviceapplication.actions.RunAction">
      </command>
      <command
            name="Debug application"
            categoryId="org.universaal.tools.buildserviceapplication.commands"
            id="org.universaal.tools.buildserviceapplication.actions.DebugAction">
      </command>    
   </extension> 
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.universaal.tools.buildserviceapplication.actions.BuildAction"
            class="org.universaal.tools.buildserviceapplication.handlers.BuildApplicationHandler">
      </handler>
      <handler
            commandId="org.universaal.tools.buildserviceapplication.actions.RunAction"
            class="org.universaal.tools.buildserviceapplication.handlers.RunApplicationHandler">
      </handler>
      <handler
            commandId="org.universaal.tools.buildserviceapplication.actions.DebugAction"
            class="org.universaal.tools.buildserviceapplication.handlers.DebugApplicationHandler">
      </handler>   
   </extension> 
   <extension point="org.eclipse.ui.startup">
     <startup class="org.universaal.tools.buildserviceapplication.StartupClass"/>
   </extension>
</plugin>
    