<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.commands">
      <category
            name="AAL Studio"
            id="org.universaal.tools.packaging.tool.plugin.command">
      </category>
      <command
            name="uStore Packager"
            categoryId="org.universaal.tools.packaging.tool.plugin.command"
            id="org.universaal.tools.packaging.tool.commands.SampleAction">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.universaal.tools.packaging.tool.commands.SampleAction"
            class="org.universaal.tools.packaging.tool.actions.SampleAction">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.universaal.tools.AALStudio.menu?after=test">
            <command
                  commandId="org.universaal.tools.packaging.tool.commands.SampleAction"
               
                  id="org.universaal.tools.packaging.tool.menus.packTool" icon="">
            </command>
      </menuContribution>
   </extension>

</plugin>