<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.universaal.tools.dashboard.perspectives"
         name="Dashboard Perspective"
         point="org.eclipse.ui.perspectives">
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>

</plugin>
