<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.extensionpoints.uml2.UMLProfile">
       <profile
            name="AalML"
            path="pathmap://UAAL/uaal_ml.profile.uml">
      </profile>
       <profile
             name="SoaML"
             path="pathmap://UAAL/SoaML.profile.uml">
       </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UAAL/"
            target="platform:/plugin/org.universaal.tools.profileplugin/model/">
      </mapping>
   </extension>

</plugin>
